[submodule "libs/matrix"]
	path = libs/matrix
	url = https://github.com/hzeller/rpi-rgb-led-matrix.git
[submodule "libs/restbed"]
	path = libs/restbed
	url = https://github.com/Corvusoft/restbed.git
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json.git
